@charset "UTF-8";

:root {
  --primary-color: #009688;
  --primary-bg-color: #4db6ac;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Raleway sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

.header {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-right: 1rem;
}

.title-sub {
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 300;
}

.navigation {
  /* width: auto; */

  /* margin: 0 auto; */
}

.navigation-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-item {
  font-size: 1.2rem;
  margin: 0 1rem;
  font-weight: bold;
  color: black;
}

.link-icon {
  font-size: 1.8rem;
}

.link-icons .link-icon {
  margin-right: 2rem;
}

.link-icon.fa-twitter {
  color: #00acee;
}

.link-icon.fa-youtube-play {
  color: #c4302b;
}

.link-icon.fa-github {
  color: #333;
}

.section {
  margin-bottom: 10rem;
  padding: 5rem;
}

.hero {
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-text-container {
  line-height: 1.5;
  letter-spacing: 0.5rem;
}

.hero-text-profession {
  font-size: 3rem;
  font-weight: 400;
}

.hero-text-name {
  font-size: 3rem;
}

.tombo-image {
  width: 200px;
  height: 200px;
}

.about {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.section-content {
  width: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-title {
  font-size: 8rem;
  margin-bottom: 3rem;
}

.section-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.section-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
  line-height: 1.5;
}

.links {
  font-size: 1.5rem;
}

.links > a {
  margin-right: 1rem;
}

.about-image-container {
  margin: 0;
  width: 50%;
  background-image: url("../images/branko-stancevic-GI1hwOGqGtE-unsplash.jpg");
  background-size: cover;
  opacity: 0.7;
  filter: blur(2px);
}

.section-contents {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.background-icon {
  position: absolute;
  left: 0;
  top: 96px;
  width: 100%;
  text-align: center;
  font-size: 20rem;
  color: var(--primary-color);
  opacity: 0.3;
}

.contact {
  width: 100%;
  text-align: center;
}

.contact-btn {
  display: inline-block;
  background-color: #00acee;
  text-align: center;
  padding: 8px 16px;
  margin-bottom: 32px;
  border-radius: 16px;
}

.fa.fa-twitter.contact-btn-icon {
  font-size: 3.2rem;
  color: white;
}

.contact-btn-text {
  font-size: 3.2rem;
  color: white;
}

.footer {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  padding: 32px;
}
