@charset "UTF-8";

:root {
  --primary-color: #009688;
  --primary-bg-color: #4db6ac;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Raleway sans-serif;
}

a {
  text-decoration: none;
}

.header {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-right: 1rem;
}

.title-sub {
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 300;
}

.navigation {
  /* width: auto; */

  /* margin: 0 auto; */
}

.navigation-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-item {
  font-size: 1.2rem;
  margin: 0 1rem;
  font-weight: bold;
  color: black;
}

.link-icon {
  font-size: 1.8rem;
  margin-right: 2rem;
}

.link-icon.fa-twitter {
  color: #00acee;
}

.link-icon.fa-youtube-play {
  color: #c4302b;
}

.link-icon.fa-github {
  color: #333;
}

.hero {
  padding: 5rem 1rem 4rem;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-text-container {
  line-height: 1.5;
  letter-spacing: 0.5rem;
}

.hero-text-profession {
  font-size: 3rem;
  font-weight: 400;
}

.hero-text-name {
  font-size: 3rem;
}

.tombo-image {
  width: 200px;
  height: 200px;
}
