@charset "UTF-8";

:root {
  --primary-color: #009688;
  --primary-bg-color: #4db6ac;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Raleway sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

.header {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-right: 16px;
}

.title-sub {
  font-size: 1.6rem;
  margin-right: 16px;
  font-weight: 300;
}

.navigation-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-item {
  font-size: 1.6rem;
  margin: 0 16px;
  font-weight: bold;
  color: black;
}

.link-icon {
  font-size: 1.8rem;
}

.link-icons .link-icon {
  margin-left: 32px;
}

.link-icon.fa-twitter {
  color: #00acee;
}

.link-icon.fa-youtube {
  color: #c4302b;
}

.link-icon.fa-github {
  color: #333;
}

.hero {
  padding: 96px 64px 32px;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-text-container {
  line-height: 1.5;
  letter-spacing: 0.5rem;
}

.hero-text-profession {
  font-size: 4.8rem;
  font-weight: 400;
}

.hero-text-name {
  font-size: 4rem;
}

.tombo-image {
  width: 200px;
  height: 200px;
}

.section {
  max-width: 1440px;
  margin: 0 auto 64px;
  padding: 64px;
}

.section-contents {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.section-content {
  width: 50%;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-title {
  font-size: 6rem;
  margin-bottom: 32px;
}

.section-heading {
  font-size: 4rem;
  margin-bottom: 16px;
}

.section-text {
  font-size: 2rem;
  margin-bottom: 16px;
  letter-spacing: 0.3rem;
  line-height: 1.5;
}

.links {
  font-size: 2rem;
}

.links > a {
  margin-right: 16px;
}

.about-image-container {
  width: 50%;
  margin: 0;
  padding: 0;
  background-image: url("../images/branko-stancevic-GI1hwOGqGtE-unsplash_resize.jpg");
  background-size: cover;
  opacity: 0.7;
  filter: blur(2px);
}

.background-icon {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 20rem;
  color: var(--primary-color);
  opacity: 0.3;
}

.contact-btn {
  display: inline-block;
  background-color: #00acee;
  text-align: center;
  padding: 8px 16px;
  margin-bottom: 32px;
  border-radius: 16px;
}

.fab.fa-twitter.contact-btn-icon {
  font-size: 3.2rem;
  color: white;
}

.contact-btn-text {
  font-size: 3.2rem;
  color: white;
}

#inqform {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inq-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 16px;
}

#inqform input,
textarea {
  font-size: 1.6rem;
  border: 2px solid #eee;
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 8px;
}

input#submit {
  align-self: center;
  width: 200px;
  border: none;
  color: #333;
  background-color: var(--primary-bg-color);
  box-shadow: 0 4px 8px rgba(30, 30, 30, 0.5);
}

.footer {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  padding: 32px;
}

.bottom-navigation {
  display: none;
}

@media (max-width: 1028px) {
  .title-sub {
    display: none;
  }

  .about .section-content {
    width: 100%;
  }

  .about-image-container {
    display: none;
  }
}

@media (max-width: 960px) {
  .navigation {
    display: none;
  }

  .hero-text-profession {
    font-size: 2.4rem;
  }

  .section {
    margin: 0 auto 32px;
    padding: 64px 32px;
  }

  .section-contents {
    flex-wrap: wrap;
  }

  .section-content {
    width: 100%;
  }

  .footer {
    margin-bottom: 64px;
  }

  .bottom-navigation {
    padding: 8px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    position: fixed;
    z-index: 10;
    width: 100%;
    bottom: 0;
  }

  .bottom-navigation-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .bottom-navigation-item {
    text-align: center;
    padding: 0 8px;
    margin: 0 auto;
  }

  .bottom-navigation-icon {
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 4px;
  }

  .bottom-navigation-text {
    font-size: 1.6rem;
    color: #333;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 8px 16px;
  }

  .title {
    font-size: 1.2rem;
    margin-right: 16px;
  }

  .link-icons .link-icon {
    margin-left: 18px;
  }

  .hero {
    padding: 48px 16px 32px;
  }

  .hero-text-container {
    line-height: 1.8;
    letter-spacing: 0.4rem;
  }

  .hero-text-profession {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .hero-text-name {
    font-size: 1.4rem;
  }

  .tombo-image {
    width: 100px;
    height: 100px;
  }

  .section {
    max-width: 1440px;
    margin: 0 auto 32px;
    padding: 32px 16px;
  }

  .section-content {
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 3rem;
    margin-bottom: 12px;
  }

  .section-heading {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  .section-text {
    font-size: 1.2rem;
    margin-bottom: 8px;
    letter-spacing: 0.4rem;
    line-height: 1.6;
  }

  .links {
    font-size: 1.2rem;
  }

  .links .link-icon {
    font-size: 1.2rem;
  }

  .links > a {
    margin-right: 12px;
  }

  .background-icon {
    font-size: 16rem;
  }

  .contact-btn {
    margin-bottom: 24px;
  }

  .fab.fa-twitter.contact-btn-icon {
    font-size: 2rem;
  }

  .contact-btn-text {
    font-size: 2rem;
  }

  .contact-form {
    /* フォームを画面いっぱいに広げる */
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
  }

  .bottom-navigation-item {
    padding: 0 12px;
  }

  .bottom-navigation-icon {
    font-size: 2rem;
  }

  .bottom-navigation-text {
    font-size: 1.2rem;
  }
}
