@mixin for-xs {
  @media (min-width: 0) { @content; }
}

@mixin for-sm {
  @media (min-width: 600px) { @content; }
}

@mixin for-md {
  @media (min-width: 960px) { @content; }
}

@mixin for-lg {
  @media (min-width: 1280px) { @content; }
}

@mixin for-xl {
  @media (min-width: 1920px) { @content; }
}

$material-color-teal-500: #009688;
$material-color-teal-300: #4db6ac;
$material-color-teal-100: #b2dfdb;
$twitter-color: #00acee;
$youtube-color: #c4302b;
$github-color: #333;

.twitter-highlight {
  color: $twitter-color;
  border-bottom: 3px solid $twitter-color;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.6rem;

  &__input {
    font-size: 1.6rem;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 8px;
  }

  &__submit {
    align-self: center;
    width: 200px;
    color: #333;
    background-color: $material-color-teal-300;
    font-size: 1.6rem;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(30, 30, 30, 0.5);
  }
}

.footer {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  padding: 32px;
  margin-bottom: 64px;

  @include for-md {
    margin-bottom: 0;
  }
}
